<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  
    <servlet>
        <servlet-name>abc</servlet-name>
        <servlet-class>com.scriza.AddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>abc</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>abe</servlet-name>
        <servlet-class>com.scriza.OTPInputServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>abe</servlet-name>
        <url-pattern>/OTPInputServlet</url-pattern>
    </servlet-mapping>
    
   <servlet>
        <servlet-name>check_status_servlet</servlet-name>  <!-- You can choose any name for the servlet -->
        <servlet-class>com.scriza.checkStatus</servlet-class> <!-- Fully qualified class name -->
    </servlet>

    <!-- Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>check_status_servlet</servlet-name>  <!-- Must match the servlet name defined above -->
        <url-pattern>/checkStatus</url-pattern>  <!-- Define the URL pattern to access this servlet -->
    </servlet-mapping>
    
</web-app>
